.grid {
  display: grid;
  grid-template-areas:
    "header header header header header header header header"
    "main main main main main main main main"
    "footer footer footer footer footer footer footer footer";
  grid-template-columns: repeat(8, 1fr);
}

header {
  grid-area: header;
  padding: 20px 0 100px 0;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Wide screens (1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* Standard screens (between 992px and 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Tablets (between 768px and 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile phones (up to 767px) */
@media only screen and (max-width: 767px) {
  header nav {
    display: none;
  }
  h1 {
    font-size: 5em;
  }
}
