<footer>
    <p>Handcrafted with 11 x
        <strong>
            <a href="https://github.com/rascode">rascode</a>
            <strong></p>
            <span class="copyright">© Copyright 2024</span>
        </footer>
    </p>