<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta description="{{site.description}}"/>
    <meta property="description" content="{{site.description}}"/>
    <meta property="og:title" content="{{site.title}}"/>
    <meta property="og:site_name" content="{{site.title}}"/>
    <meta property="og:description" content="{{site.description}}"/>
    <meta property="og:type" content="{{site.og.type}}"/>
    <meta property="og:url" content="{{site.uri.main}}"/>
    <meta property="og:image" content="{{site.uri.main}}/assets/images/screenshots/screenshot-home.png"/>
    <meta property="twitter:image" content="{{site.uri.main}}/assets/images/screenshots/screenshot-home.png"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content="{{site.title}}"/>
    <meta property="twitter:description" content="{{site.description}}"/>
    <link rel="preconnect" href="https://rsms.me/"/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
    <link rel="stylesheet" href="./styles/style.css"/>
    <title>{{site.title}}</title>
</head>