<header>
    <a href="#" class="logo">ll</a>
    <nav class="header">
        <a href="#" class="active">home</a>
        <!-- <a href="/portfolio">journal</a> <a href="/about">about</a> <a href="/contact">contact</a> -->
    </nav>
</header>